<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="light">
        <h1 class="pokedex pokefamily">Pokédex</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar  color="primary">
    <ion-searchbar
      color="light"
      class="ion-margin-top"
      animated="true"
      show-cancel-button="focus"
      cancel-button-text="Cancelar"
      show-clear-button="always"
      clear-icon="trash-bin"
      placeholder="Procurando um pokemon?"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>