<app-header></app-header>

<ion-content class="ion-no-border" color="primary">

  <ion-list class="ion-margin-top">
    <ion-card (click)="PokemonDetails(pokemon)" *ngFor="let pokemon of pokemons">
      <ion-card-content class="ion-text-center">
      <ion-img class="icone" [src]="pokemon.sprites.other.dream_world.front_default"></ion-img>
        <ion-label>
          <ion-text>
            <h1 class="pokedex pokefamily">{{ pokemon.name }}</h1>
          </ion-text><br>
          <ion-badge color="secondary" *ngFor="let value of pokemon.types">{{value.type.name}}</ion-badge>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>